aiohttp==1.0.5
async-timeout==2.0.1
blinker==1.3
cachetools==2.1.0
certifi==2018.10.15
chardet==3.0.4
cloud-init==18.2
command-not-found==0.3
configobj==5.0.6
cryptography==3.2
discord==0.16.12
discord.py==0.16.12
docopt==0.6.2
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
httplib2==0.11.3
idna==2.7
idna-ssl==1.1.0
inflection==0.3.1
Jinja2==2.8
jsonpatch==1.10
jsonpointer==1.9
language-selector==0.1
MarkupSafe==0.23
multidict==4.3.1
oauth2client==4.1.2
oauthlib==1.0.3
Pillow==5.2.0
pipreqs==0.4.9
praw==5.4.0
prawcore==0.14.0
prettytable==0.7.2
profanityfilter==2.0.3
pyasn1==0.1.9
pyasn1-modules==0.2.2
pycurl==7.43.0
pygobject==3.20.0
PyJWT==1.3.0
pyserial==3.0.1
python-apt==1.1.0b1+ubuntu0.16.4.1
python-debian==0.1.27
python-systemd==231
PyYAML==3.11
requests==2.20.0
rsa==3.4.2
six==1.10.0
ssh-import-id==5.5
ufw==0.35
unattended-upgrades==0.1
update-checker==0.16
uritemplate==3.0.0
urllib3==1.24
websockets==3.4
yarg==0.1.9
yarl==1.2.0
